<h1><%= @post.title %></h1>
<!-- <p class="lead"> <%= @post.body %> </p> -->
<%= simple_format @post.body %>
<p>
  <cite>
    <%= @post.author %>
  </cite>
</p>
<p class="additional-info"></p>
<%= link_to "Legend" , legends_post_path, class: "btn btn-primary", remote: true %>
<%= link_to "Back to list", posts_path %>
