<!DOCTYPE html>
<html>

<head>
  <title>Crud3</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div class="container">
    <% if flash[:notice].present? %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
    <% end %>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand"><%= I18n.translate("index.title")+" - "+I18n.localize(Date.today, format: :short)+" - "+l(Time.now, format: :short) %></a>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <%= t :select_language, language: I18n.locale %>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <%= link_to "Pl", language_path('pl'), class: "dropdown-item" %>
          <a class="dropdown-item" href="<%= language_path('en') %>">En</a>
        </div>
      </div>
    </nav>
    <div class="mt-4 mb-2 pb-2 border-bottom">
      <h1><%= I18n.translate "index.title" %></h1>
      <p><%= number_with_delimiter 7652746524.2423 %></p>
      <p><%= number_to_currency 3000%></p>
      <p><%= distance_of_time_in_words rand(10000).seconds %></p>
    </div>

    <%= yield %>
  </div>
</body>

</html>