<!DOCTYPE html>
<html>
  <head>
    <title>Crud3</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if flash[:notice].present? %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
      <% end %>
      <div class="jumbotron bg-white">
        <h1>Posty</h1>
      </div>

      <%= yield %>
    </div>
  </body>
</html>
